streamlit==1.57.0

Flask==3.0.3

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-text-splitters==0.2.4

langchain-groq==1.1.2

faiss-cpu==1.14.3

sentence-transformers==3.3.1
transformers==4.50.3
huggingface-hub==0.26.2

pypdf==4.3.1

numpy==1.26.4
pandas==2.3.3

python-dotenv==1.0.1

bcrypt==5.0.0

mysql-connector-python==9.7.0